<header class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>TP CRUD Angular</h1>
      <nav class="d-flex gap-3">
        <a routerLink="/add" routerLinkActive="selected-menu"
          >Ajouter un produit</a
        >
        <a routerLink="/get" routerLinkActive="selected-menu"
          >Voir les produits</a
        >
        <a routerLink="/newsletter" routerLinkActive="selected-menu"
          >Newsletter</a
        >
      </nav>
    </div>
  </div>
</header>
<main class="main container">
  <router-outlet></router-outlet>
</main>
